@model TMDT.Models.Gia

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Gia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngayapdung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngayapdung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngayketthuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngayketthuc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMucgia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
