@model IEnumerable<TMDT.Models.ChiTietThanhToan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    Ngày thanh toán
                </th>
                <th>
                    Tổng tiền
                </th>
                <th>
                    Số điện thoại khách hàng
                </th>
                <th>
                    Tình trạng đơn hàng
                <th>
                    Hình thức thanh toán
                </th>
                <th></th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tongtien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sdt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonHangVanChuyen.TinhtrangDH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThanhToan.HinhthucTT)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
            </tbody>
    </table>
    </div>
