@model TMDT.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Categorie Menu & Slider Area End Here -->
<!-- Breadcrumb Start -->
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="register.html">Register</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Register Account Start -->
<div class="register-account ptb-100 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="register-title">
                    <h3 class="mb-10">Đăng Ký Tài Khoản</h3>

                </div>
            </div>
        </div>
        <!-- Row End -->
        <div class="row">
            <div class="col-sm-12">
                @using (Html.BeginForm("dangkykhachhang", "dangkykhachhang", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success">@ViewBag.Success</div>
                        }
                        <fieldset>
                            <legend>Thông tin cá nhân của bạn</legend>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="f-name"><span class="require">*</span>Tên</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Ten, new { @class = "form-control", @placeholder = "Tên" })
                                    @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="l-name"><span class="require">*</span>Họ</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Ho, new { @class = "form-control", @placeholder = "Họ" })
                                    @Html.ValidationMessageFor(model => model.Ho, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="email"><span class="require">*</span>Email</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="number"><span class="require">*</span>Số Điện Thoại</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.SDT, new { @class = "form-control", @placeholder = "Sô Điện Thoại" })
                                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <fieldset>
                        <legend>Mật Khẩu Của Bạn</legend>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="pwd"><span class="require">*</span>Mật khẩu:</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Matkhau, new { @class = "form-control", @placeholder = "Mật khẩu" })
                                @Html.ValidationMessageFor(model => model.Matkhau, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="pwd-confirm"><span class="require">*</span>Nhập Lại Mật Khẩu</label>
                            <div class="col-md-10">

                                @Html.PasswordFor(model => model.xacnhanMatkhau, new { @class = "form-control", @placeholder = "Nhập Lại Mật khẩu" })
                                @Html.ValidationMessageFor(model => model.xacnhanMatkhau, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <div class="terms">
                        <div class="float-md-right">
                            @*<span>I have read and agree to the <a href="#" class="agree"><b>Privacy Policy</b></a></span>
                                <input type="checkbox" name="agree" value="1"> &nbsp;*@
                            <input type="submit" value="Đăng Ký" class="btn btn-default">
                        </div>
                    </div>
                }

            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
