@model IEnumerable<TMDT.Models.NhaCungCap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<style>
    th, td {
        text-align: center;
    }

        td p {
            height: 50px;
            overflow-y: hidden;
            text-overflow: ellipsis;
        }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNCC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNCC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdNCC }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdNCC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdNCC })
        </td>
    </tr>
}

</table>
